<header class="fixed top-0 left-0 w-full z-20 ">
  <div class="mx-auto px-4 md:px-4 h-16 flex items-center justify-between">
    <a href="/" class="flex items-center gap-4">
      <div class="flex items-center">
        <img src="/img/gaman.png" alt="logo" class="h-14"/>
        <span class="hidden md:block orbitron-600 text-xl font-bold text-transparent bg-clip-text bg-gradient-to-r from-purple-400 to-pink-500">Gaman.js</span>
      </div>
      <span id="gaman-version" class="items-center px-1.5 py-1 gap-1 bg-clip-text bg-gradient-to-r from-purple-400 to-pink-500 text-transparent ring-1 ring-inset ring-pink-500/50 -mb-[2px] rounded font-semibold text-[12px]/3"></span>
    </a>

    <div class="flex items-center gap-4 md:hidden">
      {# <button id="mobile-search" class="text-white text-2xl">
        <i class="fa-solid fa-magnifying-glass"></i>
      </button> #}

      <a href="https://github.com/7TogkID/gaman" target="_blank" class="bg-gray-300 text-black text-sm font-semibold px-3 py-1.5 rounded-md flex items-center gap-2">
        <i class="fa-brands fa-github"></i>
      </a>

      <!-- Hamburger -->
      <button id="hamburger" class="relative w-6 h-4 flex flex-col justify-between items-center">
        <span class="block w-full h-[3px] bg-white transition-all duration-300 ease-in-out"></span>
        <span class="block w-full h-[3px] bg-white transition-all duration-300 ease-in-out"></span>
        <span class="block w-full h-[3px] bg-white transition-all duration-300 ease-in-out"></span>
      </button>
    </div>

    <!-- Desktop -->
    <nav class="hidden md:flex items-center gap-6 text-sm font-medium text-gray-400">
      <template id="nav-links"></template>
      {# <div class="relative flex items-center">
        <input type="text" id="search-input" placeholder="Search documentation..." class="bg-neutral-700 text-sm text-white px-2 py-1.5 rounded-md placeholder:text-gray-400 w-56" />
        <kbd class="absolute right-1.5 top-1 bg-zinc-900 border border-gray-600 py-1 px-1.5 text-xs rounded-md text-gray-400">CTRL+K</kbd>
      </div> #}
      <a href="https://github.com/7TogkID/gaman" target="_blank" class="bg-gray-300 text-black text-sm font-semibold px-3 py-1.5 rounded-md flex items-center gap-2">
        <i class="fa-brands fa-github"></i>
        <span>GitHub</span>
      </a>
    </nav>
  </div>

  <!-- Mobile-->
  <nav id="nav-menu" class="hidden md:hidden flex-col gap-4 bg-neutral-900 px-6 py-4 text-sm text-gray-400">
    <div id="mobile-navbar" class="flex flex-col gap-4"></div>
  </nav>
</header>

<script>
  (async () => {
    const gamanVersion = document.getElementById('gaman-version');
    const res = await fetch('https://registry.npmjs.org/@gaman/core/latest');
    const data = await res.json();
    gamanVersion.innerText = "v" + data.version;
  })();
</script>
<script>
  const navItems = [
    {
      href: "/",
      label: "Home",
      icon: "fa-house"
    }, {
      href: "/docs",
      label: "Docs",
      icon: "fa-book"
    }, {
      href: "https://github.com/7togkid/gaman/discussions",
      label: "Discussions",
      icon: "fa-comments"
    }
  ];

  const pathname = window.location.pathname;
  const navTemplate = document.getElementById("nav-links");
  const mobileNav = document.getElementById("mobile-navbar");

  navItems.forEach((item) => {
    const isExternal = item
      .href
      .startsWith("http");
    const isActive = !isExternal && pathname.split("/")[1] === item
      .href
      .split("/")[1]
        ? "text-pink-400"
        : "hover:text-pink-300";

    // Desktop
    const a = document.createElement("a");
    a.href = item.href;
    a.className = `${isActive}`;
    a.innerHTML = `<i class="fa-solid ${item.icon} mr-2"></i>${item.label}`;
    if (isExternal) {
      a.target = "_blank";
      a.rel = "noopener noreferrer";
    }
    navTemplate
      .parentElement
      .insertBefore(a, navTemplate);

    // Mobile
    const mobileAnchor = document.createElement("a");
    mobileAnchor.href = item.href;
    mobileAnchor.className = `${isActive} flex items-center`;
    mobileAnchor.innerHTML = `<i class="fa-solid ${item.icon} mr-2"></i>${item.label}`;
    if (isExternal) {
      mobileAnchor.target = "_blank";
      mobileAnchor.rel = "noopener noreferrer";
    }
    mobileNav.appendChild(mobileAnchor);
  });

  // Hamburger
  const hamburger = document.getElementById("hamburger");
  const navMenu = document.getElementById("nav-menu");

  hamburger.addEventListener("click", () => {
    navMenu
      .classList
      .toggle("hidden");
    hamburger
      .classList
      .toggle("open");

    const [bar1, bar2, bar3] = hamburger.querySelectorAll("span");

    if (hamburger.classList.contains("open")) {
      bar1
        .classList
        .add("rotate-45", "translate-y-[10px]");
      bar2
        .classList
        .add("opacity-0");
      bar3
        .classList
        .add("-rotate-45", "-translate-y-[10px]");
    } else {
      bar1
        .classList
        .remove("rotate-45", "translate-y-[10px]");
      bar2
        .classList
        .remove("opacity-0");
      bar3
        .classList
        .remove("-rotate-45", "-translate-y-[10px]");
    }
  });
</script>